[2014-07-28 13:08] jsirex opened #80 "Doesn't work on modern debian (jessie)"
[code]
Seems like package *update-notifier-common* has been removed.
Or I missed something?

[2014-08-11 21:09] cwebberOps opened #83 "Fix the badges on the README to use https"
See: https://github.com/opscode/supermarket/issues/528 for more details.

[2014-08-13 19:53] jwmarshall opened #84 "execute 'apt-get update' block removed in 2.4.x"
The removal of the following block (last appeared in 2.3.10) has broken several cookbooks that rely on hooking this event in their recipes. I found out the hard way after installing a newer cookbook that depends on apt. I was able to fix the issue by pinning to 2.3.x in my environment, but its worth mentioning since many cookbook developers do not pin the cookbook versions in their metadata.

What

[2014-08-22 05:35] #84 closed, assigned to nobody

[2014-08-22 18:46] joelhandwell opened #89 "ppa "launchpad-username/ppa-name""
I was trying to setup https://launchpad.net/~chris-lea/+archive/ubuntu/python-geoip2 ppa but getting following error:

Error executing action `add` on resource 'apt_repository[ppa:chris-lea/python-geoip2]'
           Chef::Exceptions::EnclosingDirectoryDoesNotExist
    ------------------------------------------------
           file[/etc/apt/sources.list.d/ppa:chris-lea/python-geoip2.list](/tmp/ki

[2014-09-04 23:19] mfischer-zd opened #92 "Expired signing keys not automatically refreshed"
If a package signing key expires, the repository provider never attempts to obtain a renewed key, due to the guard in recipes/repository.rb:

[code]

This guard needs to return `false` if the key has expired.

[2014-09-09 02:03] #89 closed, assigned to nobody

[2014-09-24 15:05] klamontagne opened #93 "Recipe cacher-client fails with compiletime"
The cacher-client recipe fails to compile if:
- node['apt']['compiletime'] == true
- apt::cacher-client is in the run_list before apt::default

apt::default must be in the run_list before apt::cacher-client, but this executes `apt-get update` without the proxy.

---

[code]

[2014-09-30 10:04] jmara opened #95 "Version Pinning breaks if dot is in package name"
Hi there,

I've encountered a problem when my package names got a dot in their name. apt-get will ignore the pin file with this notice:

[code]

I would suggest to add the extension .pref at the end of the package filename, if there is a dot in the name. This would still support backward compatibility, as package names without dot will not be changed.

What do you think? If you like I can prepare

[2014-10-03 14:00] Alukardd opened #96 "pull request and bot named Curry"
There is pull request — https://github.com/opscode-cookbooks/apt/pull/81
And I want to get any answer for my messages.
But i tired to get email from "bot named Curry".
You can see that I have already signed ICLA and authorized to contribute — https://supermarket.getchef.com/users/alukardd

[2014-10-03 14:57] #96 closed, assigned to nobody

[2014-10-22 08:30] #95 closed, assigned to nobody

[2014-10-31 15:51] switchflip opened #103 "Looking at wrong source.list file in Ubuntu"
I'm trying to get this plugin working for Ubuntu 14.04 trusty.

I suppose my question is, why is chef complaining about `/etc/apt/sources.list.d/nginx.list` when the docs at nginx tell you to format the `etc/apt/sources.list`?

This is the code from my recipe:

[code]

And here is the error message from chef:

[code]

[2014-10-31 19:44] #103 closed, assigned to nobody

[2014-11-12 15:23] Zhann opened #109 "discrepancy between repository and cookbook through supermarket api"
If you look here, you'll see package mailutils being set:
https://github.com/opscode-cookbooks/apt/blob/master/recipes/unattended-upgrades.rb#L32

However, if you fetch apt cookbook through https://supermarket.getchef.com, you'll see the package resource is not there.

Both are apt cookbook version 2.6.0.

This seems like a version bump or cookbook upload gone wrong or something? Or how does this

[2014-12-01 22:18] tas50 opened #113 "preference lwrp doesn't support why-run"
* apt_preference[sensu] action add
    * Whyrun not supported for apt_preference[sensu], bypassing load.
     (Skipped: whyrun not supported by provider Chef::Provider::AptPreference)
   (up to date)

It would be nice to get why-run on this LWRP

[2014-12-14 03:41] rhass-r7 opened #114 "Cookbook tags are not getting annotated as 'releases' in github"
According to github the last release was 'v2.3.10.' However supermarket and the tags suggest the latest version if 2.6.0.

[2015-01-13 16:30] fcecagno opened #116 "metadata.rb missing"
Hi guys, I'm unable to install version 2.6.1 because metadata.rb is missing, see: https://supermarket.chef.io/cookbooks/apt/versions/2.6.1#foodcritic

[2015-01-13 21:16] someara commented on #116
Hi.

So, what's happening here is cookbook artifacts are being uploaded with newer version of stove, which only installs fully compiled metadata.

https://github.com/sethvargo/stove/blob/master/CHANGELOG.md#v323-2014-10-12

This "broke the world" for people using "knife cookbook site install", which we've fixed in Chef 12, and are currently back-porting to Chef 11.

The fix is in the pipeline http

[2015-01-13 22:46] fcecagno commented on #116
Thanks for the update @someara, and thanks for the effort to backport it to Chef 11.

[2015-01-13 22:55] #116 closed

[2015-01-14 16:17] alexanderBendo opened #117 "Extract gpg ids fails when locale is not en-XX"
```extract_fingerprints_from_cmd``` extracts keys by matching the string *Key fingerprint* but commands such as ```apt-key finger``` or ```gpg --with-fingerprint``` will output a different string if LANG is not set to english. For example, in a system configured with *LANG=es_ES* the actual string is *Huella de clave*, and so the function always returns an empty list, which causes new keys not bei

[2015-02-01 22:36] jdblack opened #119 "apt::default tricked by old update-success_stamp"
apt:default intentionally does not run apt-get update if /var/lib/apt/periodic/update-success-stamp is present.

This can be a bit of a problem if a system is being bootstrapped for the first time and apt-get update has not been run in some time.   This can often be the case with hosted providers such as digital ocean.

$ date
Sun Feb  1 14:34:12 PST 2015
$ cd /var/lib/apt/periodic
$ ls -al update

[2015-03-04 22:17] donaldguy opened #122 "repository resource/sources.list.d names should be validated (to exclude spaces)"
I was trying to install tmux 1.9a on some Ubuntu 14.04 machines and wrote

[code]

it wasn't working, and when I manually ran `apt-get update` the PPA wasn't even in the output and I couldn't figure out why;

changing `apt_repository 'tmux PPA'` to `apt_repository 'tmux_ppa'` fixed the issue (I didn't originally realize it was gonna get used as the file name in `/etc/sources.list.d/` and that apt

[2015-03-09 15:37] meineerde commented on #80
Debian Jessie is going to become stable in probably less than a month (give or take). As this cookbook is used in about all setups, it would be crucial to resolve this issue until Jessie is stable.

There are now two different alternatives to solve this issue in #115 and #121. It would be great if you could comment on the issue and work with the community to resolve this hard incompatibility.

[2015-03-09 17:48] bramwelt commented on #83
I believe this was resolved by #120.

[2015-03-12 16:07] meineerde commented on #119
The `execute[apt-get-update-periodic]` later in the recipe checks the timestamp of the file and should execute `apt-get update` if the mtime of the file is too old (24 hours by default).

It is not really clear to me why this didn't work for you. Could you possibly provide additional information, including the result of the guards checked for the various resources?

[2015-03-16 11:25] fredrikmollerstrand opened #124 "README example of apt_repository should be updated"
The example for `apt_repository` that adds 'nginx-php' should be updated. The URI specified (http://ppa.launchpad.net/nginx/php5/ubuntu) is not available and gives a 404.

It would be easier to figure out how to use `apt_repository` by starting from a working example.

[2015-03-18 15:20] fnawroth commented on #80
Could you please raise the priority on this issue? It's becoming a pain, since it blocks early-on testing on Jessie RC.

It seems that the authors of both pull requests agree that the latest version of #121 is the way to go.

[2015-03-18 17:09] someara commented on #80
@thommay can you take a look at this?

[2015-03-20 16:21] #80 closed

[2015-03-20 16:59] #83 closed

[2015-03-23 11:38] #117 closed

[2015-03-23 12:38] #113 closed

[2015-03-23 12:38] #124 closed

[2015-03-23 13:58] #122 closed

[2015-03-23 14:29] gdogaru opened #129 "/etc/apt/apt.conf.d does not exist."
With the latest sources I get

ERROR: cookbook_file[/etc/apt/apt.conf.d/15update-stamp] (apt::default line 53) had an error: Chef::Exceptions::EnclosingDirectoryDoesNotExist: Parent directory /etc/apt/apt.conf.d does not exist.

It used to work until a week ago or so

[2015-03-23 14:32] thommay commented on #129
Hi,
please can you confirm:
Which distribution and release?
that you're running from a git checkout of the cookbook?
the output of `dpkg -l apt*`

[2015-03-23 14:33] thommay commented on #129
and: `dpkg -S /etc/apt/apt.conf.d/`

[2015-03-23 14:51] gdogaru commented on #129
I am running on ec2, amazon linux Amazon Linux 2014.09
I do not have dpkg installed

this is from chef
Fetching 'apt' from https://github.com/opscode-cookbooks/apt.git (at master)
Using apt (2.6.1) from https://github.com/opscode-cookbooks/apt.git (at master)
Vendoring apt (2.6.1) to /opt/aws/opsworks/current/berkshelf-cookbooks/apt
[2015-03-23T14:42:34+00:00] INFO: Processing file[/var/lib/apt/pe

[2015-03-23 14:56] thommay commented on #129
OK. Well, the fix is easy. But can I ask what you're using the apt cookbook for on amazon linux?

[2015-03-23 14:58] gdogaru commented on #129
deploying elastic search
The example we started from had apt in the recipes list for setup

[2015-03-23 15:00] #129 closed

[2015-03-23 15:43] thommay commented on #129
Well, you shouldn't see this error any more. But I can't imagine that including the apt cookbook on amazon linux is doing much besides making your converges more fragile and slower.

[2015-03-23 15:45] gdogaru commented on #129
here is the article, it's on AWS Blog
http://blogs.aws.amazon.com/application-management/post/Tx3MEVKS0A4G7R5/Deploying-Elasticsearch-with-OpsWorks

[2015-03-23 15:55] thommay commented on #129
Thanks. That blog seems to be a little incorrect, as they're using a cookbook that's not intended for their distribution of linux. If they were using debian or ubuntu, they'd want to have the apt cookbook. But since the blog post is using a red hat derived distribution, like centos or amazon linux, they ought to be using  the yum cookbook.
I'd recommend you remove the apt cookbook from your deploy

[2015-03-23 16:25] thommay commented on #109
This should be resolved with the release of 2.7.0

[2015-03-23 16:25] #109 closed

[2015-03-23 16:25] thommay commented on #114
This should be resolved with v2.7.0

[2015-03-23 16:25] #114 closed

[2015-03-23 16:59] fredrikmollerstrand commented on #124
:+1: @thommay

[2015-03-24 13:19] #92 closed

[2015-04-05 18:53] jdblack commented on #119
This appears to be WORKS_AS_INTENDED.   I caused the problem.  I configured build-essential to run during compile phase without configuring the apt with compile_time_update.

[2015-04-05 18:53] #119 closed

[2015-04-15 10:34] cvakiitho commented on #129
Hi @thommay ,

I`m not sure if it isn`t my mistake, but I think there is still some issue when running apt on amazon( I know it doesn`t make any sense to run it, but some cookbook is doing it.

I have APT version 2.7.0 and:

Recipe: apt::default
  * file[/var/lib/apt/periodic/update-success-stamp] action nothing (skipped due to action :nothing)
  * directory[/etc/apt/apt.conf.d] action create (up

[2015-04-15 10:44] thommay commented on #129
well, I just checked that the file exists in the download from supermarket. If you look in `/home/ec2-user/chef/cookbooks/apt-2.7.0/files/default` what do you see? (I'd *strongly* recommend you fix your cookbook though.)

[2015-04-15 11:40] cvakiitho commented on #129
15update-stamp is there actually, I also tried copiing it into etc/apt/apt.conf.d/  directly, but it didn`t help either.
Also it isn`t in my cookbook, it is in dropwizard, and mongodb, but yeah I`ll probably remove it from those dependencies.

[2015-04-15 12:12] cvakiitho commented on #129
I removed apt dependency, and got same error for dropwizard cookbook, so I guess it's probably a chef-solo, or my setup issue... :/

[2015-04-15 14:29] cvakiitho commented on #129
Ah, so it was my setup :) , cookbook has to be named "apt" not "apt-2.7.3",
Sorry...

[2015-05-07 21:32] gionn opened #130 "CONTRIBUTING is old"
The [CONTRIBUTING](https://github.com/opscode-cookbooks/apt/blob/master/CONTRIBUTING) file refers to the old JIRA issues requirements, it needs to be changed or removed at all.

[2015-05-08 13:48] thommay commented on #130
fixed, thanks

[2015-05-08 13:48] #130 closed

[2015-05-15 23:33] dbaggott opened #134 "apt_repository LWRP does not accept http_proxy"
The [documentation](https://github.com/opscode-cookbooks/apt#attribute-parameters) appears to indicate that apt_repository LWRP accepts an attribute parameter named `key_proxy`.  It does not and trying to do so produces the expected error:

`ERROR: undefined method `key_proxy' for Chef::Resource::AptRepository`

You *can* use a proxy by setting the `node['apt']['key_proxy']` attribute; you just ca

[2015-05-17 09:17] thommay commented on #134
Fixed by #135

[2015-05-17 09:17] #134 closed

[2015-06-01 18:25] whiteley opened #137 "Guard misses installed keys specified with "0x""
In the repository provider, `install_key_from_keyserver` will accept a key starting with "0x" and install it successfully with the `apt-key` command but the logic in the `not_if` guard will fail causing it to be installed on every Chef run.
- Should the repository resource validate the attribute to not contain "0x"?
- Should "0x" be stripped from the string before the `end_with?` check?

[2015-06-10 19:11] rhass opened #139 "gitter.im link in README.md is invalid"
I get a 404 when clicking on the gitter icon/link in the README.md.

[2015-06-17 16:03] goacid opened #141 "APT key not installed"
I've report a bug on another cookbooks and it seems it comes from this one.
https://github.com/chef/chef/issues/2866
Could you take a look ?

[2015-06-26 19:48] fsultan opened #143 "package name '*' in preferences not allowed by regex"
the debian-cookbook sets `package_name '*'` in apt/preferences.  The regex validation in apt/resources/preference.rb for the attribute `package_name` does not allow this.

[2015-07-10 03:30] pantocrator27 opened #147 "undefined method 'start_with?' for nil:NilClass"
Hello.  I am using the apt cookbook in one of my cookbooks.  Whenever I am running the cookbook against Test Kitchen, I am receiving the "undefined method 'start_with?' for nil:NilClass" error.

[2015-07-10 03:37] pantocrator27 opened #148 "undefined method 'key_proxy' for LWRP resource apt_repository from cookbook apt"
I am receiving the above error when trying to key the key_proxy in an apt-repository using the apt cookbook.  Please let me know what debugging information you need to troubleshoot the issue.  Thanks!

[2015-07-10 03:45] pantocrator27 commented on #147
sorry about this.  i accidentally mistyped the attribute uri as url

[2015-07-10 03:45] #147 closed

[2015-07-31 20:04] sebaacuna commented on #141
I've also run into this and tracked it down to an issue with the default locale. The issue dissapears if the system's default locale is `en_US.utf8`.

Can you confirm is this is the problem you have? What is/was the default locale on your system?

[2015-08-03 02:22] kwilczynski opened #150 "Ability to set `sensitive` attribute."
It would be nice to be able to specify `sensitive` attribute with `apt_repository` so that it will be handed down to the underlying `file` resource. Sometimes you need to add _user_ and _password_ when having to setup a vendor repository that used simple HTTP authentication. Hiding these would be a splendid feature to have.

Let me know @thommay, if you fancy a pull request for this.

[2015-08-04 16:06] thommay commented on #150
:+1: would love one!

[2015-08-05 08:16] kwilczynski commented on #150
@thommay OK :)

[2015-08-05 08:17] kwilczynski commented on #150
@thommay assign me to this issue, so I can track it, if you don't mind.

[2015-08-05 08:25] thommay commented on #150
@kwilczynski irritatingly I can't, unless you're happy to have commit bits on here?

[2015-08-06 04:02] kwilczynski commented on #150
@thommay what if you add me to `opscode-cookbooks`? I hope there isn't a cliche around this - in the end, I am ex-Chef :) Let me know.

[2015-08-11 17:00] evandhoffman commented on #134
Any idea when this fix will be available in Supermarket?

[2015-08-13 14:18] mapi commented on #141
I met same problem in debian system.
apt recipe execute `apt-key` command with `LANG=en_US`. But if `LC_ALL` already configured, `LANG=en_US` is ignored. ( `LC_ALL` takes precedence.)

https://github.com/opscode-cookbooks/apt/blob/488b07fd46aba20e675af34b6fbecededaae7878/providers/repository.rb#L53

[2015-08-13 14:20] BarthV commented on #141
:+1:  here !

Same issue. Same reasons.

The fingerprint parser is only parsing ```"Key fingerprint ="``` output from ```apt-key finger``` cmd. :
* https://github.com/opscode-cookbooks/apt/blob/master/providers/repository.rb#L56

Even if the test is forcing ```LANG = 'en_US'``` it's still not enough to have a good english output ...

```so = Mixlib::ShellOut.new(cmd, env: { 'LANG' => 'en_US' })```

[2015-08-16 12:22] BarthV commented on #141
:up:

[2015-08-17 23:31] eherot opened #152 "Cut a release, please!"
There are [pretty important] bug fixes that have been in here since March and still aren't available in the supermarket. Particularly https://github.com/opscode-cookbooks/apt/commit/9f69c17a4ca241ff6b386ab2c45b43c626781d79 without which `apt` cannot handle expired keys (and consequently bails).

[2015-08-18 08:55] #152 closed

[2015-08-18 11:42] #139 closed

[2015-08-18 11:42] #141 closed

[2015-08-18 11:42] #143 closed

[2015-08-18 11:42] #148 closed

[2015-08-18 14:54] Rockstar04 opened #153 "Backwards Compatibility Break"
https://github.com/opscode-cookbooks/apt/commit/ea17f0bd7650b65337759ee80fa9ecb7799597d1 introduced a potential backwards compatibility break when using the apt_repository lwrp.

Before, the full protocol and port were required to be defined (only when no proxy was used it seems), now that they are automatically added this is causing duplicate protocols and ports to be added causing converge failu

[2015-08-18 15:12] Rockstar04 commented on #153
I am working on a PR to allow the "new" and "old" ways to define the key server

[2015-08-18 17:05] Rockstar04 commented on #153
#154  was merged, if we could get a patch number bump everything will be golden

[2015-08-18 18:11] thommay commented on #153
Pushed and released, thank you!

[2015-08-18 18:11] #153 closed

[2015-08-18 19:40] Rockstar04 commented on #153
No sir, thank you for getting to this so quickly.

[2015-08-21 17:39] rmoriz opened #157 "undefined method `tr' for nil:NilClass"
2.8.1

[code]

[2015-08-23 16:16] ahrenstein opened #159 "Cookbook creating malformed sources.list files"
I was running version 2.7.0 of the apt cookbook with this code in one of my cookbooks
[code]

Now a berks update to apt 2.8.1 gives me malformed sources.list files such as the below output of my jenkins.list
[code]

This results in a "Malformed line 1 in source list /etc/apt/sources.list.d/jenkins.list (dist parse)" error. This cookbook worked before the version update, and this repo already funct

[2015-08-23 16:28] ahrenstein commented on #159
It appears this broke in v2.8.0 with the following changelog entry:
"Quote repo URLs to deal with spaces"

I request this be reverted

[2015-08-23 16:52] #159 closed

[2015-08-24 09:29] #157 closed

[2015-08-31 11:37] kwilczynski commented on #150
@thommay closed in #160. Sorry for the delay!

[2015-09-01 11:02] thommay commented on #137
@whiteley can you provide the output of `apt-key finger`in this case and also your `apt_repository` block please?

[2015-09-01 16:24] whiteley commented on #137
I was able to reproduce this with the default test-kitchen setup in https://github.com/phlipper/chef-percona and created a gist which shows what I was trying to describe.

https://gist.github.com/whiteley/6ddc1d00b4560d0c46de

If you look at line 6 in `apt_137.out` you see that it's trying to match the correct key but the `0x` breaks the `end_with?` check.

[2015-09-03 10:34] thommay commented on #150
@kwilczynski no problemo, thanks much!

[2015-09-03 10:34] #150 closed

[2015-09-03 16:22] kwilczynski commented on #150
@thommay there will be another Pull Request to update documentation.

[2015-09-07 21:37] patcon opened #162 "Allow apt::unattended-upgrade to support debian platforms"
The archive name is not the codename on debian, but `stable` or `oldstable`, depending on the release.

[2015-09-22 21:41] tknerr opened #163 "Lots of log WARNings when using apt cookbook ("Deprecation class overwrites LWRP resource apt_preference from cookbook apt")"
I recently noticed that I'm getting lots of these warnings when using the apt cookbook:

[code]

This is using Chef 12.4.1 with chef zero provisioner, happening during a chefspec run

[2015-09-22 21:45] tknerr commented on #163
Googling doesn't help too much, the only stuff I'm finding are logs from travis-ci:
www.google.com/search?q="AptRepository already exists! Deprecation class overwrites LWRP resource apt_repository from cookbook apt"

[2015-09-25 22:51] andrewjamesbrown commented on #163
This appears to be coming from Chef::Platform::HandlerMap in 12.4.1, though it isn't obvious why ChefSpec is triggering these warnings.  FWIW, I see similar errors using the sudo cookbook.
@jkeiser, can you shed any light on why we've begun to see these messages?

Thanks!

[2015-09-26 19:20] rmoriz opened #164 "apt-get update: retries and error handling"
Sometimes, for whatever reasons, `apt-get update` fails. This might be caused by mirrors that are updated right in the moment when `apt-get update` was executed or due to network issues. Usually this later causes various obscure problems like "WARNING: The following packages cannot be authenticated!" and crash the chef run.

I suggest to implement some shell logic to retry `apt-get update` if it f

[2015-10-01 09:45] WarFox commented on #163
I'm getting similar warning for a custom LWRP

[code]

I've also noticed that this warning only comes when I use `ChefSpec::Runner`

[code]

`ChefSpec::SoloRunner` doesn't go around whining about this.

Hope this helps to narrow down the issue a bit.

[2015-10-01 12:32] tknerr commented on #163
Is this still present with the recently released Chefspec 4.4.0 version?
Am 01.10.2015 11:46 vorm. schrieb "Deepu Mohan Puthrote" <
notifications@github.com>:

[2015-10-01 12:46] andrewjamesbrown commented on #163
@tknerr, yes I can confirm I'm still seeing this with ChefSpec 4.4.0

[2015-10-08 12:19] bitfag opened #165 "chef10, apt/providers/repository.rb:56: syntax error, unexpected ':', expecting ')'"
On chef version 10.18.0-1 OS Ubuntu 12.04.1 LTS I'm getting the following error:
[code]

[2015-10-08 12:31] thommay commented on #165
You'll need to upgrade to a supported version of chef (10.x is out of support and has been for approximately a year), or downgrade to an earlier version of the cookbook, that still supports chef 10 and ruby 1.8 (which is also deprecated and has been for some time).
Sorry.

[2015-10-08 12:31] #165 closed

[2015-10-26 13:48] trilitheus opened #168 "Non apt based systems attempting to install apt-transport-https"
Commit 818ae9f added install of apt-transport-https with no guard.  This cookbooks default recipe is included by many other cookbooks and this breaks the chef run when pulling in version 2.9.1 of this cookbook.

[2015-10-26 14:02] someara commented on #168
Hello!

I added a guard to the package resource in v2.9.2

However, I'm not entirely sure this is a bug....  The apt cookbook shouldn't be applied to non-apt based systems. Is the cookbook that depends on this a community cookbook? or internal. I'd like to fix this upstream.

-s

[2015-10-26 14:51] trilitheus commented on #168
This is my 'wrapper' cookbook pulling in dependencies.  I only run Centos at the moment so am not calling this myself.  I've just checked through my Berksfile.lock to see where else the apt dependency is but going through those I can't see where the inclusion of the apt::default recipe is being called.  Will update further if I track it down

[2015-11-18 13:05] georeith commented on #103
@switchflip I am getting the same error, what was the issue in your case? Mine works if I re-run but always fails on first attempt with that error.

[2015-11-19 16:27] kg4giy opened #169 "Unsetting defaults for package install not documented"
I am trying to unset flags in a package install.  My command:

package "apache2-utils" do
  action :install
  options '--force=yes'
end

Output from the run:

---- Begin output of apt-get -q -y --force=yes install apache2-utils=2.4.7-1ubuntu4.8 ----

    STDERR: E: Command line option --force=yes is not understood
    ---- End output of apt-get -q -y --force=yes install apache2-utils=2.4.7-1ubuntu

[2015-11-19 16:35] kg4giy commented on #169
User headspace error....--force-yes is the flag, not --force=yes. Sorry for the noise.

[2015-11-19 16:35] #169 closed

[2015-11-23 15:06] jcputter opened #170 "Cloning Resource"
WARN: Cloning resource attributes for file[/etc/apt/preferences.d/my_packages.pref]   from prior resource (CHEF-3694)

I'm using the following

<pre>
apt_preference 'my_packages' do
  glob         '*'
  pin          'repo.mypackages.com'
  pin_priority '700'
end
</pre>

[2015-11-24 02:18] spuder opened #171 "ubuntu creates invalid apt"
The following recipe creates the following apt repository

[code]

[code]

However this is not a valid repository because of the double quotes.

[code]

Manually editing the /etc/sources.d/apt/sbt.list to look like the following fixes the problem.

[code]

How can I make the cookbook not add the double quotes?

Additional information

http://www.scala-sbt.org/0.13/tutorial/Installing-sbt-on-Linux.

[2015-11-24 02:30] spuder commented on #171
:flushed:  This works

[code]

[2015-11-24 02:30] #171 closed

[2015-11-24 21:36] whiteley commented on #137
@thommay did you still need more info from me on this?

[2015-11-24 21:45] whiteley opened #172 "Deprecate the use of short key IDs"
Some discussion here: http://security.stackexchange.com/questions/74009/what-is-an-openpgp-key-id-collision

With a link to the key take away at: http://tools.ietf.org/html/rfc4880#section-3.3

The long IDs already work fin but it would be nice to start throwing a warning message when the `apt_repository` resource is used with a short ID.

[2015-11-27 04:26] poliva83 opened #173 ":repo_name attribute for apt_repository LWRP not used"
The name attribute `:repo_name` defined in [repository](https://github.com/chef-cookbooks/apt/blob/master/resources/repository.rb#L44) resource is not actually used in the provider class. I found this confusing since the attribute is documented in the README.md.

[2015-12-04 14:11] rmoriz opened #175 "unattended-upgrades and debconf"
If the `unattended_upgrades` package is already installed, the debconf seed never gets seeded and auto-updates will never get enabled:

https://github.com/chef-cookbooks/apt/blob/master/recipes/unattended-upgrades.rb#L27

Systems initially provisioned by `cloud-init` (like at DigitalOcean) already have `unattended_upgrades` installed and auto-update disabled.

[2015-12-04 15:57] rmoriz opened #176 "unattended-upgrades template and Debian"
### Preface
`unattended-upgrades` has two ways to limit the scope of sources that will be considered for automatic upgrades

#####  `Unattended-Upgrade::Allowed-Origins`

This is currently implemented in this cookbook, but allows only the specification of one or more "origin:archive" scopes.

##### `Unattended-Upgrade::Origins-Pattern`

This is currently not implemented but allows a much more flex

[2015-12-08 20:18] ohlol commented on #103
@georeith Did you specify components? I had this issue until I did.

[2015-12-30 16:41] schocco opened #177 "apt_repository before apt causes unexpected behaviour"
Adding a repository via `apt_repository` triggers an apt-get update to be executed which only includes the newly added source list.  The documentation could be misleading as it states that `execute[apt-get-update]` is triggered immediately. An additional note in the documentation might be helpful to point out the implications of the partial update that is triggered by `apt_repository`. It is still

[2016-01-11 21:17] pfaffle opened #178 "Windows attempts to create '/etc/apt/apt.conf.d/10recommends'"
Running the default recipe on a Windows node isn't a no-op - it tries to create the  `/etc/apt/apt.conf.d/10recommends` file and explodes with:

[code]

I'm guessing it's because this part of the recipe is missing the `only_if { apt_installed? }` guard.

[code]

[2016-01-15 13:30] Puneeth-n commented on #129
I seem to face this issue with apt version 2.7.0 installed via berkshelf. Ubuntu 12.04LTS

[code]

[code]

[2016-01-22 22:55] pauldraper opened #180 "Adding key and keyserver to existing repo doesn't work"
If the repository has already been added in an early invocation of chef-client, adding a key to the resource does not work.

The repository must first be removed and then chef must be re-run for the key to be added.

[2016-02-03 20:30] fabn commented on #175
+1 for this issue

[2016-02-10 11:29] jcputter commented on #170
anyone?

[2016-02-19 19:47] winhamwr opened #183 "Add ability to control `ignore_failure` for a specific `apt_repository` LWRP use"
### Environment:

Debian
### Scenario:

If some of your `apt_repository 'foo' do` blocks are critical (any failure should fail the entire run), but others are non-critical (OK to ignore), you have to choose to either fail when you don't need to or continue when you wanted to fail.
### Steps to Reproduce:

[code]
### Expected Result:

A failure to add the juju repo shouldn't fail the build, while a

[2016-02-19 19:48] winhamwr commented on #183
This is related to the request for retry logic in #164, but I think they're distinct issues. There are reasons other than retry-fixable intermittent failures to have different `ignore_failure` behavior on different repositories.

[2016-02-25 22:48] jzohrab commented on #163
(Posted in issue 642 above, reposting here) Hey all, a hack workaround for this is to redirect stdout during the chefspec converge, and restore it afterwards.  Code:
[code]

[2016-02-26 03:29] avecchio opened #184 "File files/default/15update-stamp does not exist for cookbook apt"

[2016-02-26 08:17] thommay commented on #184
Please reopen with some details as to what platform, cookbook version and chef version you're running

[2016-02-26 20:17] avecchio commented on #184
Chef Development Kit Version: 0.10.0
chef-client version: 12.5.1
berks version: 4.0.1
kitchen version: 1.4.2

apt-2.9.2

OSX Yosemite

[2016-02-27 19:20] tas50 commented on #184
This will be resolved with https://github.com/chef-cookbooks/apt/pull/186

[2016-02-28 04:17] avecchio commented on #184
Fantastic. I am sorry I was not able to pinpoint more of the issue. I am only a novice at chef systems. I just figured it should be known since this seems to be a common recipe. I will go ahead and close the issue then.

[2016-02-28 04:17] #184 closed

[2016-02-28 05:05] tas50 commented on #184
I'm actually amazed that were hadn't had an issue with this earlier.  I added testing so we make sure we don't create anything apt in the future on non-Debian based systems.  Thanks for reporting this.

[2016-03-01 02:14] tas50 commented on #178
This is fixed on master with additional gating of the apt resources.  It'll be shipping in the upcoming 3.0 release.

[2016-03-01 02:14] #178 closed

[2016-03-01 02:15] tas50 commented on #168
The entire default  recipe has a guard around on master right now.  That change will be shipping in 3.0. We've also added testing to ensure that RHEL 7 doesn't get any changes when the default recipe is applied.

[2016-03-01 02:15] #168 closed

[2016-03-04 18:10] lamont-granquist opened #191 "apt_add_repository annoyances"
* why is `distribution node['lsb']['codename']` not the default with an option to remove it?

* why is the default when given a 'key' not to use `keyserver 'keyserver.ubuntu.com'` instead of going to a template?

[2016-03-04 18:17] lamont-granquist opened #192 "Run 'apt-cache gencaches' after adding key?"
setup is that i had `/etc/apt/soures.list.d/mono.list` created, and added a key to it.

the first run it actually adds the new key via `apt-key adv` but explodes with "package cannot be authenticated!" error:

[code]

then i nuked the mono.list file thinking "shitty code, doesn't add the key if the sources file exists" (which i could have seen was the incorrect conclusion to jump to if i'd read th

[2016-03-05 03:32] tas50 opened #193 "Add chefspec matcher for the new library"
We just added a new apt_update resource which will need a matcher

[2016-03-09 22:05] babbottscott opened #196 "apt 3.0.0 method for finding apt-get breaking chefspec"
The [apt_installed? method](https://github.com/chef-cookbooks/apt/blob/master/libraries/helpers.rb#L26-L28) in apt 3.0.0 attempts to find an apt-get executable via ruby methods.  Under chefspec, this is very difficult to stub, and results in the default recipe not creating the expected resources, and stubbing the .

Suggestion: make apt_installed? simply return true when ChefSpec is in use.
Better

[2016-03-09 22:07] babbottscott commented on #196
Closing.  Already corrected in HEAD, it appears.

[2016-03-09 22:07] #196 closed

[2016-03-10 23:27] hageltech commented on #170
I'm not 100% sure, but I think the logic is not 100% correct in the preferences resource, e.g. it should be changed like this:

[code]

Otherwise we get the resource cloning, as the "Replacing xx.pref" log warning gets executed every time.

[2016-03-16 08:58] bjk-soundcloud commented on #176
Added https://github.com/chef-cookbooks/apt/pull/197 to solve this.

[2016-03-18 16:56] #193 closed

[2016-03-22 23:22] eric-tucker opened #200 "apt_repository should honour the components values given, regardless of whether it's a ppa repository"
https://github.com/chef-cookbooks/apt/blob/master/providers/repository.rb#L209

I have no idea what the rationale behind this might be, but this does not work with, for example, the cinnamon repository for 14.04 LTS located at ppa:moorkai/cinnamon

I spent over an hour trying to figure out why the apt_repository resource would not honour the settings I was providing for components.

Ignoring and o

[2016-03-23 14:49] puckel opened #201 "Issue with v3.0.0 execute[apt-get update]"
Hi,

Since v3.0.0 release, I can't run chefspec tests, I've the following error :

My recipe :

No problem with v2.9.2.

Any ideas ?

Thanks

[2016-03-23 18:39] barracksbuilder opened #202 "Truncating URI"
I have a simple recipe:
apt_repository "node.js" do
    uri "https://deb.nodesource.com/node_4.x"
    components ['main']
    distribution 'trusty'
    action :add
end

However, when it writes out my node.js.list file it is truncating the address.

* file[/etc/apt/sources.list.d/node.js.list] action create
      - update content in file /etc/apt/sources.list.d/node.js.list from 46c7e1 to 00e912

[2016-03-23 18:45] barracksbuilder commented on #202
Open mouth insert foot. It appears the nodejs cookbook is overwriting my apt settings.

[2016-03-23 18:45] #202 closed

[2016-03-28 13:07] eric-tucker commented on #200
Any updates here folks?  Having to manually run installs for countless repositories because apt_repository isn't honouring my components value is very tedious.

[2016-03-29 14:26] puckel commented on #201
Hi. Do you need more information ? Thanks

[2016-03-29 14:29] thommay commented on #201
fixed in master, should be released soon. Thanks for your report!

[2016-03-29 14:29] #201 closed

[2016-03-29 14:41] puckel commented on #201
Thanks

[2016-03-31 10:48] #176 closed

[2016-05-03 18:09] mconigliaro opened #203 "apt_repository with key option creates ~/.gnupg owned by root in Vagrant's homedir"
### Cookbook version

2.9.2
### Chef-client version

12.6.0
### Platform Details

Ubuntu 14.04.4 LTS via Test Kitchen
### Scenario:

Using `apt_repository` with the `key` option creates `.gnupg` owned by root under Vagrant's home dir. I think this might have something to do with vagrant's sudo environment, so maybe a Vagrant problem? Just a guess, but I'm not sure why else the `execute` resource (

[2016-05-03 22:55] mconigliaro commented on #203
Interestingly, this just failed on me with a similar error when changing the user for `execute`.

[code]

`gpg` failed trying to write to `/root/.gnupg` as the `foo` user. Explicitly setting  `HOME` to `foo`'s home made this work again. So `gpg` definitely seems to get confused when `HOME` isn't set properly.

[2016-05-03 23:07] wk8 opened #204 "Add a warning on the README that https://github.com/chef/chef/pull/4782 supersedes this cookbook's `apt_repository` LWRP"

[2016-05-20 10:55] manuelmazzuola opened #205 "execute[apt-cache gencaches] cannot be found in the resource collection"
### Cookbook version
2.7.0

### Chef-client version
chef-solo 12.6.0

### Platform Details
[code]

### Scenario:
[code]

### Actual Result
[code]

[2016-05-20 11:15] sharmavipul commented on #205
facing same issue....

[2016-05-20 11:45] jaredstehler commented on #205
seems `compat_resource` was released yesterday with breaking changes. `12.9.1` works for me, `12.10.1` gives me this error.

[2016-05-20 11:47] sharmavipul commented on #205
Yeah...Tested the above...Locked to earlier version

[2016-05-20 12:00] thommay commented on #205
@lamont-granquist

[2016-05-20 12:21] manuelmazzuola commented on #205
@jaredstehler thanks

[2016-05-20 17:38] lamont-granquist commented on #205
closing as a dup of chef-cookbooks/compat_resource#54

[2016-05-20 17:53] #205 closed

[2016-05-27 14:15] jeremymv2 commented on #204
@thommay Thoughts on users who are consuming this cookbook and using chef-client that has the apt_repository Resource built-in?  When that is the case, they receive an exception:  `superclass mismatch for class AptRepository`

[2016-05-29 03:01] grimm26 commented on #204
It only affects me because it broke zap https://github.com/nvwls/zap/issues/33

[2016-05-31 16:52] poliva83 commented on #204
I was hitting `superclass mismatch for class AptRepository` because my rake task was triggering a chef-client run via Chef:Client object. I switched to use a Chef::Application::Client object instead and I no longer have this issue (now I see a warning instead during compile phase).

[2016-06-02 08:17] puckel commented on #201
Hi,

Do you plan a new release soon ?

Thanks

[2016-06-02 16:47] tas50 commented on #204
@jeremymv2 were you seeing that mismatch in the 3.X release or on master?

[2016-06-02 16:47] #191 closed

[2016-06-02 16:48] tas50 commented on #191
This is fixed now

[2016-06-02 20:26] tas50 commented on #201
4.0 is out today

[2016-06-02 21:16] grimm26 commented on #204
@tas50 I get it with the new 4.0.0 release.
[code]

[2016-08-02 21:28] tas50 commented on #173
While true the name property isn't used there's no real reason to remove it's the name property. If you'd like to open a PR to update the readme, we'd be happy to clarify things there.

[2016-08-02 21:28] #173 closed

[2016-08-02 21:38] tas50 commented on #177
This is probably something that we should clarify with an update to the readme explaining the update behavior. If you could put that together in a PR I'd be more than happy to merge it.

[2016-08-02 21:39] tas50 commented on #204
If someone wants to open a PR with a small note that explains how this related to the built in resource I'd be more than happy to merge that in.

[2016-08-13 07:08] tas50 opened #209 "Apt update fails on Chef < 12.4.0"
If the chef cookbook is < 12.4.0 then the shell_out! method doesn't seem to exist.

[code]

[2016-08-13 07:33] tas50 commented on #209
Resolved in 4.0.2

[2016-08-13 07:33] #209 closed

[2016-09-26 08:27] AlexanderStohr commented on #164
I am sometimes living behind a (really not small) proxy service and I am getting quite often such sequences of failure as you can see below. When manually invoked for me it can take some 1 to >10 attempts to get all querys succeeding.

I suspect that opening this bigger bunch of locations is just giving up a tiny little bit too fast - you might know from your browser... trying the refresh keystrok

[2016-10-27 20:44] tas50 opened #215 "Port apt_preference to chef/chef"
apt_update and apt_repository have been ported into the core chef client. We should do the same with apt_preference and eliminate the need for this cookbook.

[2016-10-28 09:44] nabarunchatterjee commented on #171
But how to make something like this work

[code]

I still get quotes around the uri.

Moreover I get 'trusty'(without quotes) after the uri.

The desired result  is
`deb http://packages.elastic.co/elasticsearch/1.7/debian stable main`

what I get is
`deb      "http://packages.elastic.co/elasticsearch/1.7/debian" trusty stable main`

[2016-10-28 13:01] rmoriz commented on #171
@nabarunchatterjee `stable` is not a component.

[2016-11-17 16:34] ericgoedtel commented on #171
Quotes definitely matter because removing them fixes the problem for me just as it fixed it for the original reporter.

[2016-11-17 16:40] ericgoedtel commented on #171
@nabarunchatterjee you should check out the official Elasticsearch cookbook. It installs the repo like this:

[code]

So what @rmoriz said is correct: `stable` is not component. its a distribution.

[2016-12-11 07:49] EugenMayer commented on #170
did yet not really get released, right?

[2016-12-22 17:18] #170 closed

[2016-12-22 17:20] tas50 commented on #170
5.0.1 has been released

[2016-12-26 21:03] tas50 commented on #93
apt::default is always going to need to be on the runlist first. We need to make sure the cache has been warmed up first.

[2016-12-26 21:03] #93 closed

[2016-12-30 20:58] redundent opened #216 "Adding apt key doesn't work on Ubuntu 16.10"
### Cookbook version
5.0.1

### Chef-client version
12.16.42

### Platform Details
Ubuntu 16.10

### Scenario:
Using apt_repository with a key specified does not add the key. The execute is "Skipped due to not_if"

### Steps to Reproduce:
Add an apt repo with a key. For example:
[code]

### Expected Result:
https://packages.cloud.google.com/apt/doc/apt-key.gpg should be added to the list of keys

[2017-01-10 01:52] rj-reilly opened #217 "apt update fails with "STDERR: E: The method driver /usr/lib/apt/methods/deb https could not be found.""
### Cookbook version
5.0.1

12.17.44

### Platform Details
Ubuntu 16.04 test kitchen vagrant

when using apt to add the grafana repo with
[code]

the cookbook converge successfully but there is a nasty error about apt update

[code]

[2017-01-10 02:03] rj-reilly commented on #217
turns out there was a stray character in the url womp womp closing issue

[2017-01-10 02:10] #217 closed

[2017-01-10 19:30] tas50 commented on #163
We'll be solving this soon by using compat_resource to provide the update and repository functionality. This aligns the code base with core chef and eliminates double code loading

[2017-01-10 19:54] #192 closed

[2017-02-09 12:22] tas50 commented on #204
We've removed the apt_update and apt_repository resources from this cookbook as they were merged into core chef. I'm going to close this issue out now. If you think it's still valid against a new chef-client release please open it up against the chef/chef repo so we can work on it where the code now resides.

[2017-02-09 12:22] #204 closed

[2017-02-09 12:22] tas50 commented on #216
We've removed the apt_update and apt_repository resources from this cookbook as they were merged into core chef. I'm going to close this issue out now. If you think it's still valid against a new chef-client release please open it up against the chef/chef repo so we can work on it where the code now resides.

[2017-02-09 12:22] #216 closed

[2017-02-09 12:22] tas50 commented on #203
We've removed the apt_update and apt_repository resources from this cookbook as they were merged into core chef. I'm going to close this issue out now. If you think it's still valid against a new chef-client release please open it up against the chef/chef repo so we can work on it where the code now resides.

[2017-02-09 12:22] #203 closed

[2017-02-09 12:22] tas50 commented on #200
We've removed the apt_update and apt_repository resources from this cookbook as they were merged into core chef. I'm going to close this issue out now. If you think it's still valid against a new chef-client release please open it up against the chef/chef repo so we can work on it where the code now resides.

[2017-02-09 12:22] #200 closed

[2017-02-09 12:23] tas50 commented on #183
We've removed the apt_update and apt_repository resources from this cookbook as they were merged into core chef. I'm going to close this issue out now. If you think it's still valid against a new chef-client release please open it up against the chef/chef repo so we can work on it where the code now resides.

[2017-02-09 12:23] #183 closed

[2017-02-09 12:23] tas50 commented on #180
We've removed the apt_update and apt_repository resources from this cookbook as they were merged into core chef. I'm going to close this issue out now. If you think it's still valid against a new chef-client release please open it up against the chef/chef repo so we can work on it where the code now resides.

[2017-02-09 12:23] #180 closed

[2017-02-09 12:23] tas50 commented on #177
We've removed the apt_update and apt_repository resources from this cookbook as they were merged into core chef. I'm going to close this issue out now. If you think it's still valid against a new chef-client release please open it up against the chef/chef repo so we can work on it where the code now resides.

[2017-02-09 12:23] #177 closed

[2017-02-09 12:23] tas50 commented on #172
We've removed the apt_update and apt_repository resources from this cookbook as they were merged into core chef. I'm going to close this issue out now. If you think it's still valid against a new chef-client release please open it up against the chef/chef repo so we can work on it where the code now resides.

[2017-02-09 12:23] #172 closed

[2017-02-09 12:23] tas50 commented on #164
We've removed the apt_update and apt_repository resources from this cookbook as they were merged into core chef. I'm going to close this issue out now. If you think it's still valid against a new chef-client release please open it up against the chef/chef repo so we can work on it where the code now resides.

[2017-02-09 12:23] #164 closed

[2017-02-09 12:23] tas50 commented on #163
We've removed the sources from this cookbook so you shouldn't see this warnings in the 6.0 release now.

[2017-02-09 12:23] #163 closed

[2017-02-09 12:23] tas50 commented on #137
We've removed the apt_update and apt_repository resources from this cookbook as they were merged into core chef. I'm going to close this issue out now. If you think it's still valid against a new chef-client release please open it up against the chef/chef repo so we can work on it where the code now resides.

[2017-02-09 12:23] #137 closed

[2017-02-09 12:28] rmoriz commented on #164
the resource change is not related, but the original bug seems to be "fixed" by setting "ignore_failure" to true in https://github.com/chef-cookbooks/apt/commit/24a68c0dbf96df3be4348e8b22693abde56cbd88 anyhow

[2017-02-22 05:30] jeremiahsnapp commented on #216
Thanks for reporting this @redundent I followed up with this in the following issue.

https://github.com/chef/chef/issues/5831

CC @tas50

[2017-03-07 20:45] cheeseplus commented on #215
Any update on this front @tas50?

[2017-03-07 23:19] tas50 commented on #215
I'm going to close this out here since there's an inactive PR sitting on chef/chef for this. We should track it there

[2017-03-07 23:19] #215 closed

[2017-04-19 16:27] eric-tucker opened #225 "6.1.0 removal of apt_update isn't actually in 6.1.0 supermarket code."
### Cookbook version
6.1.0

### Chef-client version
12.5.1

### Platform Details
Amazon Linux

### Scenario:
Running chef-client

I think that the push of 6.1.0 to the supermarket didn't actually occur or occurred with old code.  I am bringing in 6.1.0 and I still have libraries/apt_update.rb which was apparently removed.

I'm receiving the following error when running Chef:

[code]

[2017-04-19 16:31] tas50 commented on #225
I think you might want to blow away that cached cookbook. I just pulled down the 6.1 artifact from the Supermarket and there isn't a file at apt/libraries/apt_update.rb. Seems like some sort of bad caching problem here.

[2017-04-19 16:31] #225 closed

[2017-04-19 16:38] eric-tucker commented on #225
Apologies.  My bootstrap script wasn't clearing out the existing directory first.

[2017-04-19 16:42] tas50 commented on #225
No worries.

[2017-06-15 18:02] tas50 commented on #175
@rmoriz / @fabn Can you elaborate on this a bit more. I'm trying to understand exactly what wouldn't work here. I was under the impression from reading the Debian docs that all you needed was the proper config in the 20auto-upgrades file to get the contents of the 50unattended-upgrades to be respected. If the user has the attribute set to enable upgrades they're getting true set in the seed file,

[2017-06-15 20:56] rmoriz commented on #175
I don't really remember the details, but the chef seed file is ignored if the package is already installed.

Even when the `/etc/apt/apt.conf.d/20auto-upgrades` file now gets created using chef, the next update of the `unattended-upgrades` package will disable it again because of running the postinstall: https://sources.debian.net/src/unattended-upgrades/0.93.1%2Bnmu1/debian/postinst/#L41

[2017-08-10 16:55] tas50 commented on #215
This will ship with Chef 13.3

[2017-09-01 06:31] swapnil-jaiswal opened #232 "Request to add attribute allow-unauthenticated config option"
### Cookbook version
"version":"6.1.3"

### Chef-client version
 Chef client version to 12.18.31

### Platform Details
Ubuntu 16.04 LTS ;   AWS OpsWorks

### Scenario:
Trying to install nginx-extras using the marketplace recipe chef_nginx
Getting error : STDERR: E: There were unauthenticated packages and -y was used without --allow-unauthenticated

### Steps to Reproduce:
Try installing nginx-pass

[2017-09-01 07:43] swapnil-jaiswal commented on #232
Detailed error log
[code]

[2017-09-05 19:54] iennae commented on #232
@swapnil-jaiswal The chef_nginx cookbook is tested for installation of passenger as per https://github.com/chef-cookbooks/chef_nginx/blob/bd3518194495e0a567bb994584f208a9c0a6c6ce/.kitchen.dokken.yml. As you don't include the full logs it's hard to see what is happening.

Are you specifying all the required attributes:

[2017-09-06 06:26] swapnil-jaiswal commented on #232
Yes i have specified all attributes as specified in README.MD
Following is the code snippet .

[code]

Version of  Chef Nginx cookbook ## 5.1.3 (2017-03-24)

Reason for sticking to 5.x releases . - Support for Runit as an init system has been removed. If you require runit you will need to pin to the 5.X cookbook release.
We are using OpsWorks based chef cluster. Since most of our application is ru

[2017-09-07 01:01] iennae commented on #232
Thanks for including logs. There is a lot going on here that adds to the confusion. Do you have a mixed environment of amazon linux and ubuntu which is why you are pinning to a version of chef_nginx that has runit?

Separately, I'm not sure where the apt cookbook is coming into use at all. Reading the logs is a bit difficult, but it looks like this is just using the apt_package resource.

The apt_

[2017-09-07 01:01] #232 closed

[2018-02-04 22:36] palfrey opened #234 "apt_repository needs dirmngr installed"
### Cookbook version
6.1.4

### Chef-client version
13.7.16

### Platform Details
Debian Stretch

### Scenario:
Adding new `apt_repository`

### Steps to Reproduce:
I was using nodejs::repo (https://github.com/redguide/nodejs/blob/master/recipes/repo.rb) but anything that uses `apt_repository` on a fresh Debian Stretch box will fail similarly. Note that this doesn't work on your current Travis tes

[2018-04-03 07:44] EugenMayer opened #235 "origins_patterns not applied for unattended_upgrades"
### Cookbook version
6.1.4

### Chef-client version
13

### Platform Details
debian stretch

### Scenario:
configure unattended upgrades

### Steps to Reproduce:

use this attributes

[code]

### Expected Result:
/etc/apt/apt.conf.d/50unattended-upgrades includes origins_patterns

### Actual Result:
[code]

that one seems ok
https://github.com/chef-cookbooks/apt/blob/master/templates/50unattended-

[2018-04-03 08:12] EugenMayer commented on #235
related commit https://github.com/chef-cookbooks/apt/pull/197

[2018-04-03 08:30] EugenMayer commented on #235
i have a kontextwork-base cookbook where i pre-configure this for all servers which always include the base - they usually include a different specific host cookbook like docker-host. Those attributes are never overriden, i verified that, still, if a host does get applied kontextwork-base as a base, the attributes are somehow not properly applied for unnattended upgrades

if i apply kontextwork-ba

[2018-04-03 09:28] EugenMayer commented on #235
I know also added a kitchen test for the *-host variant, where base is a subcookbook. And in that scenario its working just fine.

So its either something special with knife-zero / chef zero or something with convergence

[2018-04-03 09:34] EugenMayer commented on #235
To ensure, it is not chef-client related, i upgraded to the same version kitchen converge does install

[code]

[2018-04-03 09:57] EugenMayer commented on #235
Giving it a longer fight, i even tried

[code]
in the main -host cookbook - still no changes.

Interestingly though the attribtue

[code]

does get propagates from the base, since its empty in the configuration

[code]

but `origins_patterns` seems to never get applied.

[2018-04-03 10:03] EugenMayer commented on #235
It seems like in the end it was simpler then i though . the reason it did not work with knife-zero is

those 2 did not work or do no longer work as intended
[code]

it did not properly update my local cookbooks, so an older version of base has been used all the time. I used those commands for a long time now and they always worked, so there seem to be a change in chefdk causing this.

Nevertheless

[2018-04-03 10:03] #235 closed

[2018-05-17 18:43] palfrey opened #237 "master build fails with "undefined method contains""
This is occurring on https://travis-ci.org/chef-cookbooks/apt/jobs/363351805

`undefined method `contain' for #<RSpec::ExampleGroups::AptResources:0x00007fa546a37a58>` in both `resources-ubuntu-1404` and `resources-ubuntu-1604`

[2018-08-22 14:18] gwimpey commented on #175
I believe that this is a problem with the implementation of the :reconfig action in the package provider. Idempotency is enforced only by checking that the seed file has not changed. The actual state of the configuration database is not checked. Thus, the :reconfig action is not actually enforcing compliance.

The relevant code seems to be here;
[https://github.com/chef/chef/blob/4332122132da81eac

[2018-08-23 10:26] rmoriz commented on #175
In the case of https://github.com/chef-cookbooks/apt/blob/master/recipes/unattended-upgrades.rb#L28 the `install` action is used, not `reconfig`.

`install`will not seed if the package is already there, as explained in the OP.

If, after a successfull seed+install, something changes the config db (as you describe), it will not fix and reconfigure. But IMO this is a rare case because it requires ac

[2018-12-07 19:34] chobbs- opened #241 "unattended-upgrades forced to check daily"
### Cookbook version
7.1.1

### Chef-client version
14

### Platform Details
Ubuntu 16.04

### Scenario:
My understanding of the values in `20auto-upgrade` is that rather than the values being expected as 1/0 to enable/disable, the integer is used to specify the interval of these actions. Currently using this cookbook I am unable to configure the unattended-upgrades interval. The attribute in the

[2019-09-17 11:11] kmf opened #245 "apt_package resource should support source"
I think the `apt_package` resource should support a `source`,
you can use something like `dpkg_package` but this doesn't handle package dependencies.

[code]
The Dream:

[code]

[2020-01-08 00:13] majormoses commented on #245
This should be migrated to the `chef/chef` repo as the functionality has been moved over. See: https://github.com/chef/chef/blob/v15.7.4/lib/chef/resource/apt_package.rb for more details.

[2020-01-08 07:19] kmf commented on #245
@majormoses should I log the issue there?

[2021-01-15 01:01] #245 closed

[2021-01-15 01:01] #241 closed

[2022-10-12 18:50] jburns24 opened #265 "Converge of apt::default fails as it tries to install version of a package that does not exist"
## :ghost: Brief Description

apt's default recipe failed to converge on a freshly installed instance of ubuntu server 22.04.  Chef log shows that `apt-get update` was not ran. But failed when trying to call `apt_package[apt-transport-https, gnupg, dirmngr] action install`

## :pancakes: Cookbook version

`apt (7.4.2)`

## :man_cook:  Chef-Infra Version

`Chef Client, version 14.15.6`

## :tophat: